/*
 *= require_tree .
*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,900');
@import "shared/reset";
@import "shared/functions";
@import "shared/body";
@import "shared/sidebar";
@import "shared/forms";

:root {
  --sidebar-link-color: #c2c2c2;
  --sidebar-background-color: #333333;
  --sidebar-hover-background-color: #222222;
  --sidebar-active-background-color: #6772E5;
  --sidebar-active-link-color: #FFFFFF;
  --sidebar-icon-color: #3ECF8E;
}

* { box-sizing: border-box; }

.slackwrap {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
}


.main {
  position: absolute;
  left: 260px;
  right: 0;
  padding: 20px 40px;
}